.projects-section {
    padding: 77px 0 125px;
    position: relative;
    width: 100%;

    h2,
    p {
        text-align: center;
        max-width: 770px;
        margin: 0 auto;
    }

    h2 {
        color: $dark-gray;
        font-family: $raleway;
        @include font-parametars (30px, 32px, 600);
        margin-bottom: 18px;
        text-transform: capitalize;
    }

    p {
        font-family: $montserrat;
        @include font-parametars (16px, 28px, 300);
        color: $gray;
        margin-bottom: 32px;
    }

    .brown-btn {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
}

.projects-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 26px;

    li {
        display: inline-block;
        padding-right: 10px;

        a {
            font-family: $montserrat;
            @include font-parametars (14px, 32px, 300);
            background: $base-color;
            border: 1px solid $gallery;
            border-radius: 3px;
            color: $dusty-gray;
            display: inline-block;
            text-decoration: none;
            height: 32px;
            padding: 0 22px 0 19px;
            transition: 0.3s ease-in-out;

            &.active {
                background: $arrowtown;
                border-bottom: 2px solid $pine-cone;
                color: $base-color;
                padding: 0 26px 0 25px;
            }

            &:hover {
                background: $arrowtown;
                border-bottom: 2px solid $pine-cone;
                color: $base-color;
                transition: .3s ease-in-out;
            }
        }
    }

    @include bp(mobile) {
        li {
            margin-bottom: 10px;
        }
    }
}

.projects-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    width: 100%;
    margin-bottom: 25px;
}

.projects-item {
    flex: 1 1 33%;
    padding: 15px;

    figure {
        width: 100%;
    }

    &:hover .figure-img {
        &:after {
            border-color: transparent transparent $diesel transparent;
        }
    }

    figure img {
        height: auto;
        width: 100%;
    }

    figure figcaption {
        background: $spring;
        min-height: 100px;
        position: relative;
        width: 100%;
        z-index: 2;
        padding-left: 29px;
        padding-top: 30px;
        transition: .3s ease-in-out;

        h4 {
            font-family: $raleway;
            @include font-parametars (20px, 22px, 500);
            color: $beige-col;
            margin-bottom: 7px;
        }

        h5 {
            font-family: $montserrat;
            @include font-parametars (14px, 20px, 300);
            color: $light-grey;
        }
    }

    &:hover .projects-overlay {
        opacity: 1;
        z-index: 1;
    }

    &:hover figcaption {
        background: $diesel;

        h4 {
            color: $base-color;
        }

        h5 {
            color: $donkey-brown;
        }
    }

    @include bp(mobile) {
        figure figcaption {
            padding-bottom: 10px;
        }
    }
}

.figure-img {
    position: relative;
    width: 100%;

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 10px 15px;
        border-color: transparent transparent $spring transparent;
        position: absolute;
        left: 30px;
        bottom: 0;
        z-index: 2;
        transition: .3s ease-in-out;
    }
}

.projects-overlay {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    text-decoration: none;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: .3s ease-in-out;
    top: 0;
    width: 100%;
    z-index: -1;

    ul {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        width: 50%;
        z-index: 2;

        li {
            display: inline-block;

            &:first-of-type {
                margin-right: 30px;
            }
        }
    }
}