//Fonts
//**********************
@mixin font-parametars ($size,$line-height,$weight) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}

//Responsive 
//*******************************
@mixin bp($point) {
    @if $point == 'desktop' {
        @media only screen and (min-width: 1025px) { @content; }
    }
    @else if $point == 'tablet' {
        @media only screen and (min-width: 768px) and (max-width: 1024px) { @content; }
    }
    @else if $point == 'mobile' {
        @media only screen and (min-width: 320px) and (max-width: 767px) { @content; }
    }
  }
