//Fonts
//************************
$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat light', sans-serif;

//Width
//*************************
$max-width: 1230px;

//Colors
//****************************
$base-color: #fff;
$btn-color: #998675;
$btn-color-dark: darken(#998675, 30%);
$btn-bottom-color-dark: darken(#736357, 20%);
$beige-col: #c7b299;
$dark-gray: #555;
$pine-cone: #736357;
$suva-grey: #8c8c8c;
$diesel: #362f2d;
$white-smoke: #f8f8f8;
$light-grey: #d1d1d1;
$nero: #191919;
$gondola: #363636;
$negro: #252525;
$black: #000;
$stuva-grey: #959595;
$cerulean: #00bff3;
$treehouse: #35261F;
$rodeo: #c7b299;
$spring: #fbfaf8;
$gray: #939393;
$gallery: #ebebeb;
$dusty-gray: #949494;
$arrowtown: #998675;
$donkey-brown: #a08f7c;
$pampas: #f1eee9;
$cocoa-brown: #251e1b;
$dorado: #615855;